{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pregame Time! Where we meeting?!</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% block css %}
    {% endblock %}
</head>

<body>
    <nav id="site-nav">
        <ol class="navList">
            <li class="navList__route"><a class="navLinks" href="{% url 'pregameApp:home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li class="navList__route"><a class="navLinks" href="{% url 'pregameApp:events' %}">Events</a></li>
            <li class="navList__route"><a class="navLinks" href="{% url 'pregameApp:logout' %}">Logout</a></li>
            {% else %}
            <li class="navList__route"><a class="navLinks" href="{% url 'pregameApp:register' %}">Register New User</a></li>
            <li class="navList__route"><a class="navLinks" href="{% url 'pregameApp:login' %}">Login</a></li>
            {% endif %}
        </ol>
    </nav>
    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock scripts %}

</body>

</html>
