{% extends 'shared/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <name>Pregame</name>
</head>

<body>
    <h1>New Event</h1>

    {% comment %} {% if event.id is not None %}
        <form action="{% url 'pregameApp:event' event.id %}" method="post">
    {% else %} {% endcomment %}
        <form action="{% url 'pregameApp:events' %}" method="post">
    {% comment %} {% endif %} {% endcomment %}
        {% csrf_token %}
        <fieldset>
            <label for="name">Event Name: </label>
            <input id="name" type="text" name="name" value="{{ event.name }}">
        </fieldset>
        <fieldset>
            <label for="address">Full Address (please be specific): </label>
            <input id="address" type="text" name="address" value="{{ event.address }}">
        </fieldset>
        <fieldset>
            <label for="description">What's going on?: </label>
            <input class="description" type="text" name='description' value="{{ event.description }}">
        </fieldset>
        <fieldset>
            <label for="date">Date: </label>
            <input id="date" type="text" name="date" value="{{ event.date }}">
        </fieldset>
        <fieldset>
            <label for="time">Start Time: </label>
            <input id="time" type="text" name="time" value="{{ event.time }}">
        </fieldset>
        <fieldset>
            <label for="img_url">If you have an image, post the url here! </label>
            <input id="img_url" type="text" name="img_url" value="{{ event.img_url }}">
        </fieldset>

        {% comment %} {% if event.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %} {% endcomment %}
            <input type="submit" value="Create" />
        {% comment %} {% endif %} {% endcomment %}

    </form>
</body>

</html>

{% endblock %}