{% extends 'shared/base.html' %}
  {% block content %}
    <section>
        <div class="event_detail_page">
        <h1>{{ event.name }}</h1>
        <h3>Where?: {{event.address}}</h3>
        <h3>When?: {{event.date}} at {{event.time}}</h3>
        <p>{{event.description}}</p>
        <a class="pregame_link" href="{% url 'pregameApp:pregame' event.id %}"><h2>View Pregames for this event</h2></a>
        {% if event_pregames|length is not 0 %}
        <h3>Pregames!</h3>
        {% endif %}
        {% comment %} <div>
            {% for pregame in all_pregames %}

            ({{number of pregames matching this event id}}) Pregames for this event!
            

        {% endfor %}
        </div> {% endcomment %}
    </div>
    </section>

{% endblock %}